@using Telerik.Web.Mvc.UI;

<!DOCTYPE html>
<html>
<head>
    <title>南方少数民族非物质文化遗产数据库</title>
    @{ 
        var nowstyle = "red";
        if (ViewBag.NowPageStyle != null)
        {
            nowstyle = ViewBag.NowPageStyle;
        }
    }
    <link rel="stylesheet" href="@Url.Content("~/css/Mobile.css")" />
    @Assets.CSS("base.css")
    @Assets.CSS("baseJ.css")
    @Assets.CSS("input.css")
    @(Html.Telerik().StyleSheetRegistrar()
                            .DefaultGroup(group => group
                            .Add("telerik.common.css")
                            .Add("telerik.Simple.min.css")
                            .Compress(true))
                     )
    @Assets.Theme(@nowstyle)    
    @Assets.Script("modernizr-1.7.min.js")
    @RenderSection("Header",false)

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/plusIns/multiselect/css/jquery.multiselect.css")" /> 
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/plusIns/multiselect/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/plusIns/multiselect/css/prettify.css")" /> 
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" /> 
     <link href="../../Content/INettutes/inettuts.css" rel="stylesheet" type="text/css" />
 <link href="../../Content/widget.css" rel="stylesheet" type="text/css" />
</head>


<body>
    <div id="container">
    
        <div id="wrapper" class="wat-cf"style ="">
            <div id="main" style="width:100%;">
                @RenderBody()                
            </div>            
           
        </div>
   </div>
     
    @Html.Telerik().ScriptRegistrar()
    @Assets.Script("modernizr-1.7.min.js")
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.custom.min.js")" type="text/javascript"></script>
   @* <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/plusIns/multiselect/jquery.multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plusIns/multiselect/jquery.multiselect.min.js")" type="text/javascript"></script>
    @RenderSection("Scripts",false)

<script type="text/javascript">
      function PortalSet() {
        var window = $('#PortalSetWindow').data('tWindow');
        //window.ajaxRequest("/AttendMS/Attend/GetIDSelect/?id=" + id);
        window.center().open();
    }   
</script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>  
    <script type="text/javascript" src="@Url.Content("~/Scripts/plusIns/jsTree/_lib/jquery.cookie.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/plusIns/jsTree/_lib/jquery.hotkeys.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/plusIns/jsTree/jquery.jstree.js")"></script>
        
    @RenderSection("Footer",false)

</body>
</html>
