@model WiGetMS.Models.showApplication
@{
    ViewBag.Title = "AppExaminceWindow";
}

@{
    var m = Model;
    }

          <table class="table_style" style=" width:90%; margin:10px;"cellpadding="0" cellspacing="0">
		     
             <tr>
			   <td class="PersMS-table-4cols-1">
		           @Html.LabelFor(model => model.Appname)：		
			   </td>
			   <td class="PersMS-table-4cols-2">
                   @m.Appname				
			   </td>
		     </tr>
		     <tr>
			   <td class="PersMS-table-4cols-1">
			       @Html.LabelFor(model => model.Priority)：
            	   @*<%//: Html.LabelFor(model => model.ModuleName)%>*@
			   </td>
			   <td class="PersMS-table-4cols-2">
				   @m.Priority
			   </td>
		     </tr>
		     <tr>
			   <td class="PersMS-table-4cols-1">
				   @Html.LabelFor(model => model.Publishto)：
                   @* <%//: Html.LabelFor(model => model.ModuleHierarchy)%>*@
			   </td>
			   <td class="PersMS-table-4cols-2">
				   @m.Publishto
			   </td>
		</tr>
		<tr>
			<td class="PersMS-table-4cols-1">
				 @Html.LabelFor(model => model.Logourl)：            		
			</td>
			<td class="PersMS-table-4cols-2">
				@m.Logourl
			</td>
		</tr>
		<tr>
			<td class="PersMS-table-4cols-1">
				 @Html.LabelFor(model => model.Tags)：
            		@*<%//: Html.LabelFor(model => model.RouteName)%>*@
			</td>
			<td class="PersMS-table-4cols-2">
				@m.Tags
			</td>
		</tr>
		<tr>
			<td class="PersMS-table-4cols-1">
			 @Html.LabelFor(model => model.Ispublishstring)：            	
			</td>
			<td class="PersMS-table-4cols-2">
				@m.Ispublishstring
			</td >
		</tr>


		<tr>
			<td class="PersMS-table-4cols-1">
			 @Html.LabelFor(model => model.Note)：     		
			</td>
        	<td class="PersMS-table-4cols-2">
			@m.Note
			</td>

        </tr>

		<tr>
			<td class="PersMS-table-4cols-1">
				@Html.LabelFor(model => model.Passed)：
			</td>
        	<td class="PersMS-table-4cols-2">
				@m.Passed
			</td>
        </tr>
		</table>	
        <div style="margin:0 auto;width:300px">
			
             <button class="button" type="submit"name="EditModule" onclick="Passed()" >
				<img src="@Url.Content("~/images/icons/tick1.png")" alt="Save" />
				审查通过
				</button>
                <span class="text_button_padding"> </span>
				 
                 <button class="button" type="button"  name="EditModule" onclick="NoPassed()">
				<img src="@Url.Content("~/images/icons/close.png")" alt="Save" />
				审查未通过
				</button>
	    </div>
   


  
    @* <script type="text/javascript" language="javascript">
     </script>*@