@model IList<ComPublishWeb.Areas.AffairsAdmin.Models.AffairsModel>
@{
    ViewBag.Title = "SearchAffairsForName";
    Layout = "~/Views/Shared/M/_LayoutAffairs.cshtml";
}

<div id="block-create" class="block">
    <div class="content">
        <h2 class="title">
            搜 索 结 果</h2>
        <div class="inner">
        </div>
    </div>
</div>
<div>
        @foreach (var item in Model)
         {
                @Html.HiddenFor(model => item.ID)
            <div class="editor-label">
                @Html.LabelFor(model => item.Name)
            </div>
            <div class="editor-field">
                @item.Name
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => item.ParentName)
            </div>
            <div class="editor-field">
                @item.ParentName
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => item.Petitionernum)
            </div>
            <div class="editor-field">
                @item.Petitionernum
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => item.Principal)
            </div>
            <div class="editor-field">
                @item.Principal
 
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => item.Registrantnum)
            </div>
            <div class="editor-field">
                @item.Registrantnum
 
            </div>

            
            <div class="editor-label">
                @Html.LabelFor(model => item.Gradename)
            </div>
            <div class="editor-field">
                @item.Gradename
 
            </div>
            <br /><br />
         }

</div> 

