@model ComPublishWeb.Areas.AffairsAdmin.Models.AffairsModel

@{ 
    ViewBag.Title = "ShowAffairs";
    Layout = "~/Views/Shared/_LayoutAffairs.cshtml";
}



        <h2  class="title">  事务详细信息(事务名称:
       @Model.Name
       @Html.ValidationMessageFor(model => model.Name))
       </h2>

<div  class="information">
             @Html.HiddenFor(model => model.ID)

    <div>
           <table>
		<tr>
		<td>
                @Html.LabelFor(model => model.Typename)
		</td>
		<td>
                @Model.Typename
                @Html.ValidationMessageFor(model => model.Typename)
		</td>
        <td>
                @Html.LabelFor(model => model.Principal)
  
		</td>
		<td>
                @Model.Principal
                @Html.ValidationMessageFor(model => model.Principal)
		</td>
		<td>
                @Html.LabelFor(model => model.Petitionernum)
		</td>
		<td>
                @Model.Petitionernum
                @Html.ValidationMessageFor(model => model.Petitionernum)
		</td>
        <td>
                @Html.LabelFor(model => model.Collaborativer)
		</td>
		<td>
                @Model.Collaborativer
                @Html.ValidationMessageFor(model => model.Collaborativer)
		</td>
		</tr>
		
		<tr>
         <td>
                @Html.LabelFor(model => model.Starttime)
		</td>
		<td>
                @Model.Starttime
                @Html.ValidationMessageFor(model => model.Starttime)
		</td>
        <td>
                @Html.LabelFor(model => model.Endtime)
		</td>
		<td>
                @Model.Endtime
                @Html.ValidationMessageFor(model => model.Endtime)
		</td>
		<td>
                @Html.LabelFor(model => model.Statusname)
		</td>
		<td>
                @Model.Statusname
                @Html.ValidationMessageFor(model => model.Statusname)
		</td>
        <td>
                @Html.LabelFor(model => model.Gradename)
        </td>
		<td>
                @Model.Gradename
                @Html.ValidationMessageFor(model => model.Gradename)
		</td> 
		</tr>

		<tr>
        <td>
                @Html.LabelFor(model => model.Registrantnum)
		</td>
		<td>
                @Model.Registrantnum
                @Html.ValidationMessageFor(model => model.Registrantnum)
		</td>
        <td>
                @Html.LabelFor(model => model.Registertime)
		</td>
		<td>
                @Model.Registertime
                @Html.ValidationMessageFor(model => model.Registertime)
		</td>
      
		<td>
                @Html.LabelFor(model => model.ParentID) 
		</td>
		<td>
                @Model.ParentID
                @Html.ValidationMessageFor(model => model.ParentID)
		</td>
        <td>
                @Html.LabelFor(model => model.Securityname)
		</td>
		<td>
                @Model.Securityname
                @Html.ValidationMessageFor(model => model.Securityname)
		</td>
		</tr>
         <tr>
          <td valign=top>
                @Html.LabelFor(model => model.T_content)
		</td>
		<td colspan=7>
                @Html.TextAreaFor(model => model.T_content, new { style = "width:530px ;height:90px" })
                @Html.ValidationMessageFor(model => model.T_content)
		</td>
        </tr>
		</table>
    </div>


            <h4 class = "hidefordataing">·该事务小结 <input type="submit" value="添加小结"onclick = "AddSummary()"/></h4>
           
            <div id = "result1" class = "resultforhavingsummary"></div>

                     <h3 class="hide">·填写事务小结</h3>
           <div class="ex">
                  @Html.TextAreaFor(model => model.Summary, new { style = "width:530px ;height:90px" })<br/>
                 是否公开:@Html.CheckBoxFor(model => model.T_open)<br/>
                 <input type="submit" value="确 定" onclick = "HideSummary()"/>
           </div>

            <h1 class="hideforupload">·已上传资料</h1>
            <div id = "adddata" class="resultforhavingupload"></div>
          
    
            
            <h5 class = "childaffairs">·拥有的子事务</h5>
            <div id = "childaffairs" class = "resultforchildaffairs">
            </div>
 
            
            

           <h2 class="hide2">·上传资料</h2>
           <div class="ex2">
                    <div id = "upload"></div>
                    <input type="submit" value="确 定" class = "hide3" onclick = "SaveData()"/>
           </div>

          
           
            <p>
                <input type="submit" value="提 交" onclick = "AddSummary()"/>
                <input type="submit" value="返 回" clas = "hide1"/>
            </p>
</div>  

 
   @section Footer{  
         <script type="text/javascript">
             var affairsid = $("#ID").val();
             $("input#RoleParentID").attr("readonly", true);
             $(document).ready(function () {
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("ShowSummaryFromAll", "AffairsSummary", new { Area = "AffairsAdmin" })',
                     data: { confid: affairsid },
                     dataType: "html",
                     success: function (request) {
                         $("#result1").html(request);
                     },
                     traditional: true
                 });
               $.ajax({
                 type: "POST",
                 async: false,
                 url: '@Url.Action("ShowChildAffairs", "AffairsForOneself", new { Area = "AffairsAdmin" })',
                 data: { confid: affairsid },
                 dataType: "html",
                 success: function (request) {
                     $("#childaffairs").html(request);
                 },
                 traditional: true
             });
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("HaveUploading", "AffairsData", new { Area = "AffairsAdmin" })',
                     data: { confid: affairsid },
                     dataType: "html",
                     success: function (request) {
                         $("#adddata").html(request);
                     },
                     traditional: true
                 });
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("UploadForShow", "AffairsData", new { Area = "AffairsAdmin" })',
                     data: { confid: affairsid },
                     dataType: "html",
                     success: function (request) {
                         $("#upload").html(request);
                     },
                     traditional: true
                 });
             });
             $(".resultforhavingsummary").show();
             $(".hide").hide();
             $(".childaffairs").click(function () {
                 $(".resultforchildaffairs").slideToggle("slow");
             });
             $(".hidefordataing").click(function () {
                 $(".resultforhavingsummary").slideToggle("slow");
             });
             $(".hide").click(function () {
                 $(".ex").slideToggle("slow");
             });
             $(".resultforhavingupload").show();
             $(".hideforupload").click(function () {
                 $(".resultforhavingupload").slideToggle("slow");
             });
             $(".hide2").click(function () {
                 $(".ex2").slideToggle("slow");
             });
             $(".hide1").click(function () {
                 $(".ex").hide("slow");
             });
             $(".hide3").click(function () {
                 $(".ex2").hide("slow");
             });


             function SaveAffairs() {
                 var ifopen = document.getElementById("T_open").checked;
                 var summary = document.getElementById("Summary").value;
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("SaveSummaryFromAffairs", "AffairsSummary", new { Area = "AffairsAdmin" })', ///添加个人小结
                     data: { confid: affairsid, summary: summary, open: ifopen },
                     dataType: "html",
                     success: function (request) {
                           if(request =="操作成功")
                          alert(request);
                     },
                 });
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("ShowSummaryFromAll", "AffairsSummary", new { Area = "AffairsAdmin" })',
                     data: { confid: affairsid },
                     dataType: "html",
                     success: function (request) {
                         $("#result").html(request);
                         $("#Summary").attr("readonly", true);
                         $("#T_open").attr("readonly", true);
                     },
                     traditional: true
                 });
             }

             function SaveData()
             {
                 $.ajax({
                     type: "POST",
                     async: false,
                     url: '@Url.Action("HaveUploading", "AffairsData", new { Area = "AffairsAdmin" })',
                     data: { confid: affairsid },
                     dataType: "html",
                     success: function (request) {
                         $("#adddata").html(request);
                     },
                     traditional: true
                 });
             }

             function InsertChildAffairs()
             {
                 window.location.href = "/AffairsAdmin/AffairsGovern/AffairsChildApply?confid=" + affairsid;
             }


             function AddSummary() {
             $(".hide").slideToggle("slow");
             $(".ex").slideToggle("slow");
         }

                 function HideSummary() {
             $(".hide").hide("slow");
             $(".ex").hide("slow");
             $(".resultforhavingsummary").slideToggle("slow");

         }
   </script>

   }
