@model ComPublishWeb.Models.LogOnModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="box">
    <div class="block content_y" id="block-login">
        <h2>
            登录</h2>
        <div class="content login">
            <p>
                请输入你的帐号/电话号码和密码
            </p>
            @using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { @class = "form login" }))
            {
                <div class="flash">
                    <p>@Html.ValidationSummary(true, "登录失败. 请重试.", new { @class = "message error" })</p>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.UserName, new { @class = "label right" })
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="group wat-cf">
                    <div class="left">
                        @Html.LabelFor(m => m.Password, new { @class = "label right" })
                    </div>
                    <div class="right">
                        @Html.PasswordFor(m => m.Password, new { @class = "text_field" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="group navform wat-cf">
                    <div class="right">
                        <button class="button" type="submit">
                            <img src="@Url.Content("~/Images/icons/key.png")" alt="Save" />
                            登录
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}