@model ComPublishWeb.Models.PortalPageSetModel
@{
    ViewBag.Title = "登录";
}

@section Header{
    <link rel="stylesheet" type="text/css" href="../../Scripts/plusIns/multiselect/css/jquery.multiselect.css" /> 
    <link rel="stylesheet" type="text/css" href="../../Scripts/plusIns/multiselect/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/plusIns/multiselect/css/prettify.css" /> 
    <link rel="stylesheet" type="text/css" href="../../Content/Jquerythemes/base/jquery.ui.all.css" /> 
}

<div id="box">
    <div class="block" id="block-login">
        <h2>
            用户个性化页面设置</h2>
        <div class="content login">
            @using (Html.BeginForm("PortalPageSet", "Account", FormMethod.Post))
            {
                <div class="flash">
                    <p>@Html.ValidationSummary(true, "页面设置失败", new { @class = "message error" })</p>
                </div>
                <div class="group wat-cf">
                    <div class="right" style="margin:8px">
                        选择页面样式： @Html.DropDownListFor(m => m.PageStyle, ViewData["PageStyle"] as IEnumerable<SelectListItem>, new { style = "width:208px; z-index: inherit;" })
                        @Html.ValidationMessageFor(m => m.PageStyle)
                    </div>
                </div>
                <div class="group wat-cf">
                    <div class="right" style="margin:8px">
                        选择页面包含的频道：   @Html.ListBoxFor(m => m.Channels, ViewData["Channels"] as IEnumerable<SelectListItem>, new { style = "width:308px; z-index: inherit;" })
                          @Html.ValidationMessageFor(m => m.Channels)
                    </div>
                </div>
                <div class="group navform wat-cf">
                    <div class="right" style="margin:5px">
                        <button class="button" type="submit">
                            提交
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="../../Scripts/plusIns/multiselect/jquery.multiselect.js" type="text/javascript" charset="gb2312"></script>
    <script src="../../Scripts/plusIns/multiselect/prettify.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Channels").multiselect({
                selectedList: 3,
                header: "请选择频道"
            });
        });
   </script>
}