@model IEnumerable<WidgetDateLibrary.Models.WebPageUnits>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "首页";
}
<div class="block" id="block-text">
    <div class="content">
        @{
            var ilist = Model.Where(o => o.showcontainer == "mainbody");
            <div id="columns">
                <ul id="column" class="column0">
                    @foreach (var m in ilist.Where(o => o.widgettype == "1"))
                    {
                        <li class="widget my-widget" id="intro">
                            <div class="widget-head">
                                <h3 class="h3title">@m.showtitle</h3>
                            </div>
                            <div class="widget-content">
                                @Html.GetPageContent(m.pageunitid, null)
                            </div>
                        </li>

                    }
                </ul>
                @{ var mList = ilist.Where(o => o.widgettype == "0").ToList(); }
                <ul class="column">
                    @for (int i = 0; i < mList.Count(); i += 2)
                    {
                        <li class="widget my-widget" >
                            <div class="widget-head">
                                <h3 class="h3title">@mList[i].showtitle</h3>
                            </div>
                            <div class="widget-content" style="">
                                @Html.GetPageContent(mList[i].pageunitid, null)
                            </div>
                        </li>
                    }
                </ul>
                <ul class="column">
                    @for (int i = 1; i < mList.Count(); i += 2)
                    {
                        <li class="widget my-widget">
                            <div class="widget-head">
                                <h3 class="h3title">@mList[i].showtitle</h3>
                            </div>
                            <div class="widget-content" style="">
                                @Html.GetPageContent(mList[i].pageunitid, null)
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
@section sidebar{
    <div id="sidebar">
        @{var slist = Model.Where(o=>o.showcontainer == "sidebar");}
        @if (slist.Count() != 0)
        {
            <div class="block">
                @foreach (var m in Model.Where(o => o.showcontainer == "sidebar"))
                {
                    <h3 class="h3title">@m.showtitle</h3>
                    <div class="content">
                        <ul>
                            <li>
                                @Html.GetPageContent(m.pageunitid, null)
                            </li>
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
}