<div id="main-navigation">
        <ul class="wat-cf">
        <li>@Html.ActionLink("个人事务", "AffairsRefer", "AffairsForOneself", new { Area = "PcToMobile" }, null)</li>
        <li>@Html.ActionLink("事务申请", "AffairsForApply", "AffairsGovern", new { Area = "PcToMobile" }, null)</li>
        <li>@Html.ActionLink("事务等级", "ShowGrade", "AffairsGrade", new { Area = "PcToMobile" }, null)</li>
        <li>@Html.ActionLink("负责事务", "ShowAffairs", "AffairsData", new { Area = "PcToMobile" }, null)</li>
        <li>@Html.ActionLink("事务搜索", "Index", "SearchAffaris", new { Area = "PcToMobile" }, null)</li>
        </ul>
</div>

      